<!DOCTYPE html>
<html>
 <head>
  <title>{{ title }}{% if listid %} | {{ listid }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='hosted/jquery.mobile-1.0.1.min.css') }}" />
  <script src="{{ url_for('static', filename='hosted/jquery-1.7.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='hosted/jquery.mobile-1.0.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='myshoppinglist.js') }}"></script>
 </head>
 <body>

  <div data-role="page" data-theme="b">
   <div data-role="header">
    {% block header %}
     <h1>{{ title }}{% if listid %} | {{ listid }}{% endif %}</h1>
    {% endblock %}
   </div><!-- /header -->

   <div data-role="content">
    {% block content %}
    {% endblock %}
   </div><!-- /content -->

   <div data-role="footer">
    {% block footer %}
    {% endblock %}
   </div><!-- /footer -->
  </div><!-- /page -->

 </body>
</html>
